* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body main styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* header styling */
.headerWeatherGuy {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

/* header text styling */
.weatherText {
    margin-left: 15%;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.weatherText:hover {
    margin-left: 15%;
    font-size: 3em;
    font-weight: bold;
    color: white;
    transform: scale(1.1);
}

.horizontalLine {
    border: 2px solid grey;
}

/* current forecast container outline */
.forecastToday {
    border: 3px dashed #ff7e5f;
    height: 250px;
}

/* class to style city history button*/
.cityButton, .searchButton {
    width: 100%;
    background-color: #ff7e5f;
    border:none !important;
    outline:none !important;
    color: black;
    font-weight: bold;
}

.cityButton:hover, .searchButton:hover {
    background-color: #feb47b;
}

.card {
    background-color: #ff7e5f;
    color: black;
    width: 10rem;
    background: linear-gradient(to top, #ff7e5f, #feb47b);
}