* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body main styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* header styling */
.headerWeatherGuy {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

/* header text styling */
.weatherText {
    font-size: 2.5em;
    font-weight: 500;
}

.horizontalLine {
    border: 2px solid grey;
}

/* current forecast container outline */
.forecastToday {
    border: 3px dashed #ff7e5f;
    height: 250px;
}